
body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    max-width: 370px;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 100px;
    padding: 50px 30px;
    background-color: whitesmoke;
    box-shadow: 1px 2px 4px #888888;
}

legend {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

input[type=text] {
    width: 100%;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px rgb(168, 168, 168);
    font-size: 1.2rem;
    padding-left: 10px;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

i {
    padding: 13px;
    background: rgb(215, 215, 215);
    min-width: 20px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-right: none;
    border-color: rgb(168, 168, 168);
}

button {
    color: white;
    background-color: blue;
    border: none;
    height: 45px;
    width: 100%;
    border-radius: 4px;
    font-size: 1.2rem;
}

#fgt-pass {
    float: right;
}

.signup {
    margin: auto;
    text-align: center;
}
a{
    color: blue;
    text-decoration: none;
}
